@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Lusitana:400,700|Oswald");
@keyframes falldown {
  0% {
    height: 0; }
  100% {
    height: 235px; } }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, a, p, div {
  font-family: "Lato", sans-serif; }

h1, h2, h3, h4 {
  color: white; }

h1 {
  font-size: 8em;
  font-family: "Lusitana", serif; }

h2 {
  font-size: 1.2em;
  font-family: "Oswald", sans-serif; }

h3 {
  font-size: 1.7em;
  font-family: "Lusitana", serif; }

h4 {
  font-size: 1.3em; }

a {
  color: white;
  text-decoration: none; }
  a:hover {
    color: #e28238; }

#intro {
  width: 100vw;
  height: 100vh;
  background: url("../img/intro.jpg");
  color: white;
  position: relative; }
  @media screen and (max-width: 900px) {
    #intro {
      height: 75vh; } }

#intro nav {
  margin-left: auto;
  margin-right: auto;
  padding-top: 85px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 75%; }
  @media screen and (max-width: 1200px) {
    #intro nav {
      padding-top: 25px;
      width: 85%; } }
  #intro nav h3 {
    letter-spacing: 2px; }
  #intro nav ul {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase; }
    @media screen and (max-width: 1020px) {
      #intro nav ul {
        display: none; } }
    #intro nav ul li {
      position: relative;
      display: inline;
      padding: 8px;
      font-size: 0.95em;
      letter-spacing: 2px; }
      @media screen and (max-width: 1200px) {
        #intro nav ul li {
          font-size: 0.8em;
          margin-left: 10px; } }
      #intro nav ul li:hover {
        cursor: pointer; }
  #intro nav .dropdown {
    z-index: 5;
    position: absolute;
    top: 35px;
    left: 0;
    width: 200px;
    background-color: #333333; }
    #intro nav .dropdown li {
      display: block;
      font-family: "Lato", sans-serif;
      text-transform: none;
      letter-spacing: 0;
      padding: 15px 10px;
      font-size: 1.1em;
      border-bottom: 1px solid #494947; }
  #intro nav .destinations .dropdown, #intro nav .activities .dropdown, #intro nav .planning .dropdown, #intro nav .about .dropdown {
    display: none; }
  #intro nav .destinations:hover, #intro nav .activities:hover, #intro nav .planning:hover, #intro nav .about:hover {
    border-radius: 5px 5px 0 0;
    background-color: #333333; }
    #intro nav .destinations:hover .dropdown, #intro nav .activities:hover .dropdown, #intro nav .planning:hover .dropdown, #intro nav .about:hover .dropdown {
      overflow-y: hidden;
      animation: falldown 250ms backwards;
      display: block; }
      #intro nav .destinations:hover .dropdown li:hover, #intro nav .activities:hover .dropdown li:hover, #intro nav .planning:hover .dropdown li:hover, #intro nav .about:hover .dropdown li:hover {
        background-color: #e28238; }
  #intro nav #menu-icon {
    font-size: 2em; }
    @media screen and (min-width: 1020px) {
      #intro nav #menu-icon {
        display: none; } }

.intro-content {
  position: absolute;
  top: 23%;
  width: 100vw;
  text-align: center; }
  .intro-content img {
    height: 50px;
    opacity: 0.6; }
  .intro-content h2 {
    margin-top: 40px;
    letter-spacing: 5px;
    text-transform: uppercase; }
  .intro-content h1 {
    margin-top: 10px;
    margin-bottom: 40px; }
    @media screen and (max-width: 900px) {
      .intro-content h1 {
        font-size: 5em;
        margin-bottom: 20px; } }
    @media screen and (max-width: 450px) {
      .intro-content h1 {
        font-size: 4em; } }
  .intro-content hr {
    width: 18%;
    height: 4px;
    background-color: white;
    border: 0; }
  .intro-content i {
    box-sizing: content-box;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 30px 20px 20px 30px;
    color: #e28238;
    font-size: 2.5em;
    margin-top: 20px;
    transition: all 250ms; }
    .intro-content i:hover {
      transform: scale(1.3);
      background: rgba(255, 255, 255, 0.7);
      cursor: pointer; }

.button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding: 20px 30px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e28238;
  color: white; }
  .button:hover {
    color: white; }
  .button:after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    background-color: #e28238;
    height: 20px;
    width: 20px; }
  @media screen and (max-width: 900px) {
    .button {
      display: none; } }

#second-nav {
  border-top: 1px inset black;
  border-bottom: 1px inset black;
  box-sizing: border-box;
  padding: 0 11%;
  height: 80px;
  width: 100vw;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #second-nav ul li {
    display: inline;
    font-size: 1.05em;
    margin-left: 20px; }
    #second-nav ul li:nth-child(5) a {
      border-left: 1px solid white;
      padding-left: 20px;
      color: #e28238; }
      #second-nav ul li:nth-child(5) a i {
        color: white; }
  @media screen and (max-width: 900px) {
    #second-nav {
      display: none; } }

.search {
  color: white;
  font-size: 1.2em; }

#gallery {
  display: flex;
  flex-wrap: wrap;
  background-color: #D1D1C9; }

.activity {
  position: relative;
  width: 25%;
  height: 420px; }
  .activity:first-child, .activity:last-child {
    width: 50%; }
    @media screen and (max-width: 960px) {
      .activity:first-child, .activity:last-child {
        width: 100%; } }
  .activity img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
    height: 40px;
    width: 40px;
    opacity: 0.9;
    transition: all 200ms ease-in-out; }
  .activity:hover {
    cursor: pointer; }
    .activity:hover img {
      height: 60px;
      width: 60px; }
  .activity h4 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 50px;
    left: 30px;
    text-shadow: 3px 3px 3px black; }
  @media screen and (max-width: 960px) {
    .activity {
      width: 50%; } }
  @media screen and (max-width: 770px) {
    .activity {
      width: 100%;
      margin: 35px 30px 0 30px;
      height: 250px; } }

.canoe {
  background: url("../img/canoe.jpg");
  background-position: center;
  background-size: cover; }

.backpacking {
  background: url("../img/backpacking.jpg");
  background-position: center;
  background-size: cover; }

.hiking {
  background: url("../img/hiking.jpg");
  background-position: center;
  background-size: cover; }

.camping {
  background: url("../img/camping.jpg");
  background-position: center;
  background-size: cover; }

.kayak {
  background: url("../img/kayak.jpg");
  background-position: center;
  background-size: cover; }

.biking {
  background: url("../img/biking.jpg");
  background-position: center;
  background-size: cover; }

/*# sourceMappingURL=application.css.map */
